@import "./commons/variables";

/*这是安全保障部分独立的样式*/

.insurance .page {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}

.insurance .page .arrow {
    position: absolute;
    left: 50%;
    bottom: measure(30px);
    width: measure(100px);
    height: measure(105px);
    margin-left: measure(-50px);
    background: url(../images/slide.png) no-repeat;
    background-size:100% 100%;
    opacity: 0;
}

.insurance .page:first-child .column {
    position: absolute;
    left: 50%;
    top: measure(213px);
    width: measure(503px);
    height: measure(472px);
    margin-left: measure(-503px/2);
    background: url(../images/column.png) no-repeat;
    background-size: measure(472px) auto;
    opacity: 1;
}

.insurance .page:first-child .promise {
    position: absolute;
    left: 50%;
    bottom: measure(446px);
    width: measure(270px);
    margin-left: measure(-135px);
    font-family: PingFangSC-Medium, sans-serif;
    font-size: measure(40px);
    color: white;
    text-align: center;
}

.insurance .page:first-child ul {
    position: absolute;
    left: 10.6%;
    bottom: measure(231px);
}

.insurance .page:first-child li {
    font-size: measure(26px);
    list-style: disc;
    color: #89abf4;
    // margin-bottom: measure(30px);
    line-height: measure(36px);
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b5b5b5;
    font-family: "Microsoft YaHei";
}

input {
    font-family: "Microsoft YaHei";
}
